/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #e0f7f4 0%, #27c7ea 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex; /* Combines sections  */
    width: 900px;
    height: 600px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

/* Sidebar Section  */
.sidebar {
    flex: 0 0 250px; /* Fixed width */
    background: linear-gradient(to bottom, #f0fdfa, #e0f2f1);
    display: flex;
    flex-direction: column; /*  */
    align-items: center;
    padding: 40px 20px;
    gap: 40px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.user-name { color: #5a7d9a; font-size: 1.1rem; }
.user-status { color: #9ab3c7; font-size: 0.8rem; }

.nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #9ab3c7;
    cursor: pointer;
    padding-left: 20px;
}

.nav-item.active { color: #5a7d9a; font-weight: bold; }

.pro-card {
    margin-top: auto;
    background: #98ded9;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.pro-text h4 { color: white; font-size: 0.9rem; }
.pro-icon { width: 40px; opacity: 0.8; }

/* Active Games Section  */
.content-area {
    flex-grow: 1; /*  */
    padding: 50px;
}

.section-title {
    color: #5a7d9a;
    margin-bottom: 30px;
}

.games-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-card {
    background: rgba(255, 255, 255, 0.6);
    padding: 15px 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.02);
}

.game-img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    object-fit: cover;
}

.game-info { flex-grow: 1; }
.game-name { color: #7a94a9; margin-bottom: 5px; }
.game-version { color: #adc1d1; font-size: 0.7rem; margin-bottom: 8px; }

.progress-container {
    width: 100%;
    height: 12px;
    background: #e0f2f1;
    border-radius: 10px;
}

.progress-bar {
    height: 100%;
    background: #81d4cf;
    border-radius: 10px;
}

.percentage {
    color: #7a94a9;
    font-weight: bold;
}